/*font-family: 'Kumbh Sans', sans-serif;*/
:root {
  /*font-family*/
  --ff-text: 'Kumbh Sans', sans-serif;
  /*font-weight*/
  --fw-reg: 400;
  --fw-bold: 700;
  /*colors*/
  --clr-light: hsl(227, 10%, 46%);
  --clr-accent: hsl(185, 75%, 39%);
  --clr-dark: hsl(229, 23%, 23%);
  --clr-darkGray: hsl(0, 0%, 59%);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-accent);
  text-align: center;
  background-image: url('images/bg-pattern-top.svg'),
    url('images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 700px 700px, 700px 700px;
  background-position: -35% 40%, 125% -45%;
  font-family: var(--ff-text);
  font-size: 18px;
}

.card {
  height: fit-content;
  width: 90vw;
  border-radius: 15px;
  filter: drop-shadow(4px 4px 8px 16px rgba(5, 5, 5, 0.616));
  max-width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 120px auto 0 auto;
  background: white;
}

.header__image {
  height: min-content;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.profile__image {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid white;
  position: relative;
  top: -45px;
}

.card__profile {
  position: relative;
  top: -20px;
}

.card__title {
  margin-bottom: 10px;
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
}

.location {
  color: var(--clr-darkGray);
  font-weight: 100;
}
.age {
  color: var(--clr-darkGray);
  font-size: 1.2rem;
  font-weight: 100;
}

.line {
  height: 1px;
  width: 350px;
  background-color: var(--clr-darkGray);
  opacity: 0.4;
}

.card__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stat {
  margin: 30px;
  text-align: center;
}

.stat__title {
  color: var(--clr-dark);
  font-weight: 700;
  margin-bottom: 8px;
}

.stat__desc {
  color: var(--clr-darkGray);
  font-size: 0.9rem;
  font-weight: 100;
}
